{% extends 'base.html' %}
{% block title %}E - Farmer{% endblock %}
{% block content %}

<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">

      <div class="card-body">
        <h4 class="card-title">Add Trained Class</h4>

        <form class="forms-sample" id="form">

          <div class="form-group">
            <label for="class">Disease Name</label>
            <input type="text" class="form-control text-light" id="class" placeholder="Disease Name">
          </div>

          <div class="form-group">
            <label for="plant">Plant Name</label>
            <input type="text" class="form-control text-light" id="plant" placeholder="Plant Name">
          </div>

          <button type="submit" id="btn" class="btn btn-primary me-2">Add</button>
          <a href="/index" class="btn btn-dark">Cancel</a>

        </form>
      </div>
    </div>
  </div>
</div>

<script>

  $(function () {
    $('#btn').click(function () {

      var disease_name = $('#class').val()
      var plant_name = $('#plant').val()

      var title = "<h1 style='color:gray'>Add Trained Class</h1>"

      if (disease_name == "" || plant_name == "") {
        Swal.fire(title, "Fields are empty!", "warning");
        return false;

      } else {

        var form_data = new FormData();
        form_data.append('disease_name', disease_name);
        form_data.append('plant_name', plant_name);

        $.ajax({
          url: "/add_trained_class",
          enctype: 'multipart/form-data',
          data: form_data,
          contentType: false,
          cache: false,
          processData: false,
          type: 'POST',
        })
          .done(function (data) {
            if (data.error) {
              Swal.fire(title, data.error, "warning");
            }
            else if (data.success) {
              $("#form")[0].reset();
              Swal.fire(title, data.success, "success");
            }
            else {
              Swal.fire(title, "Some error occur", "warning");
            }
          });

        event.preventDefault();

      }
    });
  });

</script>

{% endblock %}